body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 5px;
}

#main .main-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: linear-gradient(65.5deg, rgba(23, 205, 205, 1) -15.1%, rgba(23, 25, 95, 1) 71.5%); */
  /* background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%); */
  /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .main-page .main-box {
  width: 850px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px #000;
  border-style: double none;
}

#main .main-page .main-box h1 {
  margin-bottom: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100px;
  /* color: #fff; */
}

#main .main-page .main-box h2 {
  font-size: 20px;
  opacity: 0.7;
  /* color: #fff; */
}

#main .main-page .main-box .main-button {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

#main .main-page .main-box .main-button button {
  width: 250px;
  margin: 5px;
  padding: 20px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  text-align: center;
  font-size: 22px;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}

#main .main-page .main-box .main-button button a {
  position: relative;
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

#main .main-page .main-box .main-button button:hover a {
  padding-right: 25px;
}

#main .main-page .main-box .main-button button a:after {
  content: "\00bb";
  position: absolute;
  top: 0;
  right: -20px;
  opacity: 0;
  transition: 0.4s;
}

#main .main-page .main-box .main-button button:hover a:after {
  opacity: 1;
  right: 0;
}
