<!DOCTYPE HTML>
<html>
<head>
    <title>그들을 찾아라</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600|Trade+Winds&display=swap" rel="stylesheet" />

    <!-- Reset css -->
    <link rel="stylesheet" href="/reset.css" />

    <!-- css -->
    <link rel="stylesheet" href="/list.css" />

    <!-- Font Awesone -->
    <script src="https://kit.fontawesome.com/9f63cd55b9.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <section id="header">
      <div class="header">
        <span><i class="fas fa-arrow-right"></i></span>
        <p>Falsus</p>
      </div>
    </section>

    <section id="nav">
      <div class="nav-menu">
        <div class="nav-title">
          <h1>Falsus</h1>
          <h2>그들을 선별 하여 지도로 알려주는 사이트입니다</h2>
        </div>
        <div class="nav-item">
          <i class="fas fa-home"></i>
          <a>홈으로</a>
        </div>
        <div class="nav-item">
          <i class="fas fa-thumbs-up"></i>
          <a>응원하기</a>
        </div>
        <div class="nav-footer">
          <h1>## 개발자 ##</h1>
          <h2>김재욱</h2>
          <h2><i class="fas fa-envelope"></i> kjwook7522@gmail.com</h2>
          <h2>최상현</h2>
          <h2><i class="fas fa-envelope"></i> yuio1126@gmail.com</h2>
        </div>
      </div>
      <div class="nav-layer"></div>
    </section>

    <section id="main">
      <div class="main-table">
        <div class="table-title">
          <h1>그들의 지부 찾기</h1>
        </div>
        <div class="table-search">
          <form><input type="text" placeholder="지역을 검색해주세요" /><i class="fas fa-search"></i></form>
        </div>
        <div class="table-contents">
          <table>
            <thead>
              <tr>
                <th>번호</th>
                <th>구분</th>
                <th>주소</th>
                <th>방역작업</th>
              </tr>
            </thead>
            <tbody>
              {{#falsuses}}
              <tr>
                <td>{{id}}</td>
                <td>{{div}}</td>
                <td>{{address}}</td>
                <td>{{protection}}</td>
              </tr>
              {{/falsuses}}
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--방식은 2가지. 직접 라이브러리를 다운받아서 사용 혹은 외북 CDN 사용. 이 경우 외부 CDN 사용함-->
    <!-- Javascript -->
    <script src="/list.js"></script>
</body>
</html>

<!--js img css 는 resources/static/ 부터 절대경로가 시작된다.-->
<!--CSS 는 헤더에. js 는 푸터에 두어야 페이지 로딩 속도가 높아짐. -->
<!--부트스트랩은 제이쿼리에 의존적이기 때문에 제이쿼리 로딩이 선행되어야함-->
