<!DOCTYPE HTML>
<html>
<head>
  <title>그들을 찾아라</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600|Trade+Winds&display=swap" rel="stylesheet">


  <!-- Reset css -->
  <link rel="stylesheet" href="reset.css" />

  <!-- css -->
  <link rel="stylesheet" href="main.css" />
</head>
<body>

  <section id="main">
    <div class="main-page">
      <div class="main-box">
        <h1>Falsus</h1>
        <h2>'Falsus' 는 우리 주변의 000 지부를 찾아서 알려주는 시스템입니다.</h2>
        <h2>안녕하세요 저는 김재욱입니다 이거는 테스트를 위한 글입니다.</h2>
        <div class="main-button">
          <button><a>Go Falsus Map</a></button>
          <button><a>Go Falsus List</a></button>
        </div>
      </div>
    </div>
  </section>

  <!-- Javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/index.js"></script>
  <!--방식은 2가지. 직접 라이브러리를 다운받아서 사용 혹은 외북 CDN 사용. 이 경우 외부 CDN 사용함-->
</body>
</html>

<!--js img css 는 resources/static/ 부터 절대경로가 시작된다.-->
<!--CSS 는 헤더에. js 는 푸터에 두어야 페이지 로딩 속도가 높아짐. -->
<!--부트스트랩은 제이쿼리에 의존적이기 때문에 제이쿼리 로딩이 선행되어야함-->